@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/EFCO/Brookshire/Regular.ttf') format('ttf'),
       url('/fonts/EFCO/Brookshire/Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

.font-custom {
  font-family: 'CustomFont', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 800px;
  font-family: Arial, sans-serif;
  flex-wrap: wrap;
  margin-bottom: 50px;
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
  margin-top: 10px;
  margin-bottom: 0;
}

.title {
  margin-top: 10px;
  text-align: center;
  margin-bottom: -30px;
  font-size: 90px;
  line-height: 0;
  color: whitesmoke;
}

.carousel {
  max-width: 800px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.carousel h3 {
  color: whitesmoke;
}

.carousel-inner {
  display: flex;
  animation: slide 30s infinite;
}

.carousel-item {
  min-width: 100%;
  transition: transform 1.5s ease-in-out;
}

.carousel-item img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

@keyframes slide {
  0% { transform: translateX(0%); }
  25% { transform: translateX(-100%); }
  50% { transform: translateX(-200%); }
  75% { transform: translateX(-300%); }
  100% { transform: translateX(-400%); }
}

.carousel-inner {
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.teaser {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 800px;
  font-family: Arial, sans-serif;
  flex-wrap: wrap;
  margin-bottom: 50px;
  background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

.teaser video {
  width: 400px;
}

@media only screen and (max-width: 600px) {
    .gallery {
      height: 600px;
    }

    .title {
      margin-bottom: 70px;
    }

    .carousel {
      max-width: 400px;
      margin-top: -180px;
    }

    .carousel-item img {
      height: 300px;
    }

    .teaser video {
      width: 350px;
    }

    .teaser .title {
      flex-basis: 100%;
    }
}